
<div style="display: flex; justify-content: space-around; padding: 20px; border: 1px solid blue; margin: 20px 0;">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>